---
import Section from "../Section.astro"

import { work } from "@cv"
---

<Section title="Experiencia laboral">
  <ul>
    {
      work.map(
        ({ name, startDate, endDate, position, summary, url }) => {
          const startYear = new Date(startDate).getFullYear()
          const endYear =
            endDate != null ? new Date(endDate).getFullYear() : "Actual"
          const years = `${startYear} - ${endYear}`

          return (
            <li>
              <article>
                <header>
                  <div>
                    <h3>
                      <a href={url} title={`Ver ${name}`} target="_blank">
                        {name}
                      </a>
                    </h3>
                    <h4>{position}</h4>
                  </div>

                  <time>{years}</time>
                </header>

                <footer>
                  <p>&emsp;{summary}</p>
                </footer>
              </article>
            </li>
          )
        }
      )
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-inline: +16px;

    border-radius: 8px;
    border: 1px solid #170020;
    flex-direction: row;
    padding: 16px;
    height: 100%;
    width: 100%;
  }

  article h3 {
    font-weight: 500;
  }

  article a {
    color: #E7E7E7;
  }

  article a:hover {
    text-decoration: underline;
  }

  article h4 {
    color: #A4A4A4;
    font-weight: 400;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  time {
    color: #555;
    font-size: 0.85rem;
    min-width: 102px;
  }

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }
</style>
